body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Montserrat", sans-serif;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 15px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 32px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h2 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-size: 24px;
  line-height: 28px;
  padding: 8px 16px;
  background: #ecf4ff;
  border: 2px solid #0e1d2f;
  box-sizing: border-box;
  border-radius: 100px;
}

.projetos {
  background: linear-gradient(230.65deg, #499cfe 25%, #9cc8fc 80%);
  display: flex;
  flex-direction: column;
  padding: 32px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  list-style: none;
}

.projetos-titulo {
  font-weight: 700;
  font-size: 36px;
}

.projetos-itens {
  list-style-type: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
}

.projetos-itens a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: rgba(55, 91, 134, 1);
}

.dark .container {
  background: rgba(51, 52, 57, 1);
  color: rgba(246, 246, 246, 1);
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  border: 2px solid #f7f7f7;
  box-sizing: border-box;
  border-radius: 100px;
  color: #ffffff;
}